* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

body,
html {
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-weight: 900;
    font-family: "Work Sans";
    font-style: normal;
    background-color: #353535;
    width: 100%;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

ol,
ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}
