* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

body,
html {
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    max-width: 100%;
    overflow-x: hidden;
    font-weight: 900;
    font-family: "Work Sans";
    font-style: normal;
    background-color: #353535;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #eeeeee;
    border-radius: 5px;
    right: 10px;
}
p {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}
